[system]
		host_port = ""

[grpc]
        enable = true
[rest]
        enable = true
[ipfs]
		upload=      "upload"
		transfer=    "transfer"
		m3u8 =        "media.m3u8"
		key_url =         "http://localhost:8080"
		key_file =      "key"
		key_info_file = "KeyInfoFile"

[callback]
       address = ""
       port =""
